
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #686D76 ;
}
.bg1 {
    background-color: #441752;
}
.bg2 {
    background-color: #A888B5;
}

@theme {
    --color-primary: #441752;

    --color-white: #EEEEEE;
    --color-darkgrey: #373A40;
    --color-midblue: #94ADD7;
    --color-lightblue: #ACFADF;
    --color-orange: #DC5F00;
}
@import "tailwindcss"