
#root{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #52345eee;
}
.bg1 {
    background-color: #441752;
}
.bg2 {
    background-color: #A888B5;
}

@theme {
    --color-primary: #441752;
    --color-secondary: #A888B5;
}
@import "tailwindcss"